.page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
  height: 100%;
  h2.title {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 32px;
  }
  span.inpbox {
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
  p.error-message {
    margin-top: 10px;
    width: 100%;
    line-height: 1;
    color: red;
    font-size: 12px;
    text-align: center;
  }
}
